{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
    <div class="container mb-5">
    <div class="row mt-4 justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <a href="{{ path('viewPost', { 'id': post.id }) }}">
                    <img class="card-img-top" src="{{ asset('uploads/images/'~post.image) }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <small><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ post.publishdate | date }}</small>
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h5 class="mt-2"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ post.user.name }}</h5>
                        </div>
                        {% if app.user and app.user.id == post.user.id %}
                            <div class="col-4 justify-content-end">
                                <a href="{{ path('posts_edit', { 'id': post.id }) }}" class="btn btn-primary"><i class="fa fa-btn fa-pencil"></i> Edit Post</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
    {% if post.comments.count > 0 %}
        <div class="col-4">
            <h1>Comments</h1>
        </div>
        <div class="col-4 justify-content-end">
            <a href="{{ path('comments_new', { 'post': post.id }) }}" class="btn btn-primary"><i class="fa fa-btn fa-plus"></i> Add Comment</a>
        </div>
        </div>
        {% for comment in post.comments %}
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ comment.user.name }}</h4>
                <p class="ml-3">{{ comment.content }}</p>
                <small class="text-muted ml-3"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ comment.publishdate | date }}</small>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-4">
            <h5>No comment</h5>
        </div>
        <div class="col-4 justify-content-end">
            <a href="{{ path('comments_new', { 'post': post.id }) }}" class="btn btn-primary"><i class="fa fa-btn fa-plus"></i> Add Comment</a>
        </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
