<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Symfony Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav justify-content-end">
        <ul class="navbar-nav navbar-right ml-auto">
            {% if app.user %}
                <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                <li><a class="nav-link" href="{{ path('myPosts') }}">My Posts</a></li>
                <li>
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a class="nav-link" href="{{ path('home') }}">Posts</a></li>
                <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li>
                    <a class="nav-link" href="{{ path('registration') }}">Register</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/6f7bd221e6.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>